<section>
  <nav>
    <img src="./pictures/logo/logoDonJuan2.jpg" alt="guy on donkey" style="width:500px;height:600px;">
    <header>Welcome!</header>
  <p>Open: Mon-Sun(10am-1am)</p>
    <p>Location: 1660 Lamont St NW, Washington, DC 20010, USA </p>
    <p>Number: 202-667-0010</p>
  </nav>

  <article>
    <h1>Don Jaun Restaurant </h1>
    <p>The best quality is absolute satisfaction of customers. We provide the best and delicious food to our customers.</p>
    <p> DON JUAN RESTAURANT strives to keep the standard for good. We are open Seven days a week to serve our customers with scrumptious meal. Don Juan restaurant offers Dine in, Takeout and Party Catering for any event.</p>
  </article>
</section>


